body{
	font-family: Verdana;
	font-size: 12px;
	background-color: #000000;
}
#cadastro{
	font-size: 20px;
	border: 0px solid black;
	width: 380px;
    color: white;
	margin: auto;
	margin-top: 90px;
}
#usuario, #senha{
	padding: 6px 2px;
	font-size: 20px;
	width: 265px;
}
#entrar{
	padding: 6px 18px;
	font-size: 20px;
}
label{
	display: inline-block;
	width: 90px;
}
.titulo{
	text-transform: uppercase;
	border-bottom: 2px dotted #007FFF;//dotted pontilhada bottom borda só embaixo
	padding-bottom: 4px;
	margin-bottom: 8px;
}
.titulo span{//encapsulamento do elemento que vai até aonde ele termina, diferente de div que eh um bloco
	border-bottom: 4px solid #F6B33D;
	padding-bottom: 4px;
	padding-right: 2px;
}
.botao {
	background-color:#007FFF;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 24px;
	text-decoration:none;
	cursor: pointer;
}.botao:hover {
	background-color:#d29105;
}.botao:active {
	position:relative;
	top:1px;
}
#conteudo{
	margin: 15px auto;
	padding: 5px 10px;
	width: 800px;
	text-align: center;
}

.itens{
	text-align: center;
}
.itens ul{
	list-style: none;
	padding: 0;
}
.itens li{
	display:inline-block;
	padding: 4px 60px;
=======
body{
	font-family: Verdana;
	font-size: 12px;
	background-color: #000000;
}
#cadastro{
	font-size: 20px;
	border: 0px solid black;
	width: 380px;
    color: white;
	margin: auto;
	margin-top: 90px;
}
#usuario, #senha{
	padding: 6px 2px;
	font-size: 20px;
	width: 265px;
}
#entrar{
	padding: 6px 18px;
	font-size: 20px;
}
label{
	display: inline-block;
	width: 90px;
}
.titulo{
	text-transform: uppercase;
	border-bottom: 2px dotted #007FFF;//dotted pontilhada bottom borda só embaixo
	padding-bottom: 4px;
	margin-bottom: 8px;
}
.titulo span{//encapsulamento do elemento que vai até aonde ele termina, diferente de div que eh um bloco
	border-bottom: 4px solid #F6B33D;
	padding-bottom: 4px;
	padding-right: 2px;
}
.botao {
	background-color:#007FFF;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 24px;
	text-decoration:none;
	cursor: pointer;
}.botao:hover {
	background-color:#d29105;
}.botao:active {
	position:relative;
	top:1px;
}
#conteudo{
	margin: 15px auto;
	padding: 5px 10px;
	width: 800px;
	text-align: center;
}

.itens{
	text-align: center;
}
.itens ul{
	list-style: none;
	padding: 0;
}
.itens li{
	display:inline-block;
	padding: 4px 60px;
}

